* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #e4a85e;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand a {
  display: inline-flex;
  text-decoration: none;
  color: black;
}

.nav-brand h1 {
  font-weight: bold;
  padding-top: 30px;
  padding-left: 20px;
}

.nav-brand img {
  max-width: 100px;
  height: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  color: #fff;
}
.nav-item {
  margin-right: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .menu-icons.open {
    display: block;
  }

  .menu-icons.close {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 20px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #555;
}

.nav-link i {
  margin-right: 10px;
}

.menu-icons {
  display: none;
  cursor: pointer;
}

.menu-icons .open {
  display: block;
}

.menu-icons .close {
  display: none;
}

.nav-list.open {
  display: flex;
  flex-direction: column;
  background-color: #222;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .menu-icons.open {
    display: block;
  }

  .menu-icons.close {
    display: block;
  }
}

body {
  background-color: #faf3e0;
  color: #000;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #ffffff;
}

.image-section img {
  width: 100%;
  max-height: 50vh;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .image-section img {
    max-width: 100%;
  }
}

.image-section {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 30px;
}

.overlay-text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.main-message {
  text-align: center;
}

.main-message h1,
.main-message h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Products */

.product-listings {
  display: flex;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.product {
  position: relative;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-images {
  display: flex;
  flex-direction: row;
}

.product-img {
  flex: 0 0 auto;
  position: relative;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product-details {
  flex: 0 0 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product h2 {
  margin: 0 0 10px;
  font-size: 45px;
  color: #21293c;
}

.product p {
  margin: 0px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  color: #000;
}

.product button {
  margin-top: auto;
  background-color: #ff9900;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: #e68a00;
}

.popup {
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup img {
  width: 500px;
  height: 500px;
}

.popup h2 {
  font-size: 40px;
}

/* Footer */
footer {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: #0a131d;
  color: #fff;
  text-align: center;
  height: 180px;
  width: 100%;
  margin-top: 0px;
  position: relative;
  clear: both;
}

footer p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: 45%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer h3 {
  color: #fff;
}

/* Transparent Background */

.transparent-background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  margin-top: 50px;
}

.transparent-section {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 0;
  margin-bottom: auto;
}

.transparent-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* CONTACT US */
.container-contact {
  margin-top: 10px;
  margin-bottom: 2rem;
}

.two-columns-grid-contactus {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-contact {
  padding: 5px;
  
  margin-top: 2rem;
  border: 2px solid #ccc;
  border-radius: 1%;
}

.input-contact:focus {
  border: 2px solid #ff7417;
  outline: none;
}

.form-group-contact {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.message {
  height: 15rem;
  width: 95%;
  resize: none;
  font-size: 1.8rem;
  padding: 5px;
}

.btn-submit {
  color: black;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: white;
  transition: 0.5s;
}

/* ANIMATIONS */


/* Navigation Links */
.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff7417;
}

/* Product Cards */
.product-card {
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Footer Animation */
.footer {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.footer.fade-in {
  opacity: 1 !important;
}

.image-section {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  text-align: center;
  color: white;
  transition: transform 5s ease, opacity 5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
}

.overlay-text.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.image-section.animate .overlay-text {
  animation: fadeIn 1s ease forwards;
}

.overlay-text.animate {
  animation: fadeIn 1s ease forwards;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.product_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product_img {
  flex: 0 0 40%;
}

.product_img img {
  width: 100%;
  height: auto;
}

.product_content {
  flex: 0 0 55%;
}

.product_title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product_desc {
  margin-bottom: 20px;
  line-height: 27px;
  color: #000;
}

.product_desc h3 {
  margin-top: 20px;
  color: #21293c;
}

.price {
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #ccc;
}

#product {
  margin: auto;
  padding: 20px;
}

.add_to_cart_btn {
  color: black;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s;
}

.add_to_cart_btn:hover {
  background-color: white;
  transition: 0.5s;
}

.table {
  display: table;
  width: 99.8%;
  border-collapse: collapse;
  background-color: #fff;
  border: 2px solid #000;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 8px;
  border: 1px solid #000;
}

.table-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.product-img img {
  max-width: 100%;
  height: auto;
}

.product-img .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product:hover .img-overlay {
  opacity: 1;
}

.product-img .img-overlay img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-details {
  margin-bottom: 20px;
  padding-left: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.manufacturer {
  font-style: italic;
  color: #666;
}

/* Products */
.product {
  display: flex;
  align-items: flex-start;
}

.product-gallery button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  outline: none;
}

.product-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.preview-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.preview-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.preview-image,
.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #ccc;
}

.product-gallery {
  position: relative;
  height: 100px;
  width: 300px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin-top: 40px;
}

.img_small {
  display: flex;
  align-items: center;
  position: relative;
  border: 5px solid #ccc;
  padding: 10px;
  margin: 10px;
  min-width: 240px;
  overflow-x: hidden;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gallery-image {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
  flex: 0 0 auto;
  margin-right: 10px;
}

.prev,
.next {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.gallery-image:hover {
  opacity: 0.7;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

#modal {
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-open {
  overflow: hidden;
}

#modal .modal-content {
  max-width: 100%;
  max-height: 100%;
}

.product-img:hover .preview-image {
  transform: scale(1.1);
}

.product-img:hover .preview-image {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.overlay-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.product-images {
  flex-grow: 1;
}

.product-details-container {
  width: 70%;
  margin-left: auto;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  margin-top: -35%;
}

/* CONTACT US */
.container-contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.two-columns-grid-contactus {
  display: grid;
  grid-template-columns: 1fr;
}

.input-contact {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ff7417;
  background-color: transparent;
  width: 100%;
  color: #333;
  transition: border-bottom 0.3s;
}

.input-contact:focus {
  border-bottom-color: #ff7417;
}

.message {
  height: 200px;
  width: 100%;
  resize: none;
  font-size: 16px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ff7417;
  background-color: transparent;
  color: #333;
  transition: border-bottom 0.3s;
}

.message:focus {
  border-bottom-color: #ff7417;
}

.btn-submit {
  font-size: 1.6rem;
  padding: 15px 30px;
  background-color: #ff7417;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-submit:hover {
  background-color: #fff;
  color: #ff7417;
}

.section-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.section-subtitle {
  font-size: 20px;
  color: #666;
  margin-bottom: 30px;
}

/* Media Queries */
@media screen and (max-width: 1195px) {
  .product-img img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1130px) {
  .product-img img {
    max-width: 80%;
  }
  .footer-visible {
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .product-img img {
    max-width: 75%;
  }
}

@media screen and (max-width: 970px) {
  .overlay-text h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 930px) {
  .product-img img {
    max-width: 60%;
  }
}

@media screen and (max-width: 830px) {
  .product-img img {
    max-width: 55%;
  }
}

@media screen and (max-width: 780px) {
  .overlay-text h1 {
    font-size: 20px;
  }

  .image-container {
    width: 100%;
    object-fit: cover;
  }
  .product-details-container{
    border-left: 0px solid #ccc;
    width: 100%;
    margin-top: auto;
  }
}

@media screen and (max-width: 570px) {
  .footer-columns{
    flex-direction: column;
    align-items: center;
    
  }
  .footer-column{
    margin-top: 40px;
  }

}

@media screen and (max-width: 430px) {
  .overlay-text h1 {
    margin-top: 10px;
    font-size: 15px;
  }
  .overlay-text p {
    font-size: 10px;
  }
  .product-details-container{
    border-left: 0px solid #ccc;
    width: 100%;
    margin-top: auto;
  }
}

@media screen and (max-width: 375px) {
  .overlay-text h1 {
    margin-top: 20px;
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 100%;
  }
}
